.App {
  text-align: center;
  scroll-behavior: smooth;
}
.Page404 {
  background-image: 'multipcon\src\images\404.png';
}
html
{
  /* background: rgb(238,174,202);
  background: linear-gradient(67deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  */
  /* background: rgb(212,157,12);
  background: linear-gradient(67deg, rgba(212,157,12,1) 0%, rgba(148,187,233,1) 100%);  */
   background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
 }
